#container
{
    width:auto;
    height:auto;
}
#images
{
    
    height:800px;
    text-decoration:none;
    z-index:0;    
    text-align:center;
    box-shadow: 20px 20px 10px gray;
    position:relative;
    top:75px;
    width:1200px;
}
#images a:nth-child(n) img:hover
{   -webkit-transition: all 1s;
    transition: all 1s;
    width:300px;
    height:250px;
    z-index:100;
    box-shadow: 20px 15px 10px gray;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
#images a:focus img:nth-child(n)
{   -webkit-transition: all 1s;
    transition: all 1s;
    width:300px;
    height:250px;
    z-index:100;
    box-shadow: 20px 15px 10px gray;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}


#images a:after
{
    font-size:100%;
    color:red;
    content: attr(title);
    position:relative;
    z-index:15;
}

img
{
    width:200px;
    height:150px;
    box-shadow: 10px 10px 5px gray;
    padding:10px 10px 75px;
}

#images a:nth-child(1n) img
{
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

#images a:nth-child(3n) img
{
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}
#images a:nth-child(2n) img
{
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

