body
{
    margin: 0 auto;
    width:1024px;
    height:auto;
    font-family:Arial;
}
Header
{
    text-align:center;
    background-color:Maroon;
    height:75px;
    background-image: url("../vektorgrafik.svg");
    background-size:75px 75px;
    background-repeat:no-repeat;
}
Nav
{
    font-size: 150%;
    font-weight: bold;
    background-color: black;
    width:1024px;
    display:block;
    float:left;
}
    Nav ul 
    {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

    Nav ul li a
    {
    text-decoration: none;
    padding: 24px 24px;
    color: white;
    text-align:center;
    }
 
Nav ul li
{
    float:left;
    margin:20px;
    margin-left:70px;
}
Nav ul li a:hover
{
  color:Maroon;    
}

Main
{
    margin: 0 auto;
    float:left;
    height:auto;
}
Article
{
    float:left;
    width:50%;
    height:auto;
    background-color:gray;
}
Section
{
    width:40%;
    float:left;
    margin:25px;
}
.left
{
    margin:5px;
    padding:5px;
    float:left;
}
.right
{
    float:right;
}
Aside
{
    width:49%;
    float:right;
    background-color:Gray;
    border-style:solid;
    border-color:Navy;
    border-width:5px;
    height:auto;
}
Aside ul
{
    
    width:1%;
    font-size:125%;
    text-decoration:none;

}
Aside ul li 
{
    width:50px;
    float:left;
    padding:30px;
    margin:25px;
}
Footer
{
    font-size:125%;
    float:left;
    width:100%;
    background-color:Maroon;
    text-align:center;
}
